// scss-lint:disable PropertySortOrder HexNotation SelectorFormat

@import 'normalise';
@import 'bonbon';
@import 'carved';

// Colors
$base-color: #e7e7e7;

$c-primary: #D4AD40;
$c-secondary: #DA8630;
$c-dark: #303030;
$c-light: #fff;

// Fonts
@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  src: local('Black Ops One'), local('BlackOpsOne-Regular'), url('./assets/BlackOpsOne.woff') format('woff');
}

@mixin click-highlight {
  &:active {
    filter: brightness(110%);
  }
}

@mixin text3D {
  color: white;
  text-shadow: 0 1px hsl(0,0%,85%),
             0 2px hsl(0,0%,80%),
             0 3px hsl(0,0%,75%),
             0 4px hsl(0,0%,70%),
             0 5px hsl(0,0%,65%),
             0 5px 10px black;
}

%pp-button {
  outline: none;

  &:active,
  &:focus {
    outline: none;
  }
}
// -------------------------------------------------------------------
//     Container
// -------------------------------------------------------------------

.pp-container {
  font-family: 'Black Ops One', cursive;
  font-size: 16px;
  background-image:
    url("./assets/texture.png"),
    radial-gradient(top center, #1EE9F7, #243DF1 750px);;

  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
}

// -------------------------------------------------------------------
//     Header
// -------------------------------------------------------------------
.pp-header {
  height: 2em;
  width: 100%;
  display: flex;

  font-size: 2em;
}

.pp-header_legend {
  text-align: center;
  margin: auto;
  @include text3D();
}

.pp-header_turn {
  @include text3D();
  // color: $c-primary;
}
// -------------------------------------------------------------------
//     Scores
// -------------------------------------------------------------------
.pp-scores {
  display: flex;
  flex-flow: row wrap;

  flex: 1 1 auto;
  width: 100%;
}

.pp-score {
  display: flex;
  flex-flow: row wrap;
  font-family: inherit;
  flex: 1 1 0;
  justify-content: space-around;
}

.pp-score_number {
  @include text3D();

  display: block;
  flex: 0 2 100%;
  margin: auto;

  font-family: inherit;
  text-align: center;
  font-size: 25vw;
  line-height: 1em;
}

%pp-score_button {
  @extend %pp-button;
  // @include  click-highlight();
  flex: 1 1 3em;
  align-self: flex-end;
  margin: 0 0 .6em 0;
  max-width: 40%;

  // height: 1.2em;
  text-align: center;
  line-height: 1.2em;
  font-size: 2em;

  border: 0;

  &:before {
    margin: 0;
  }
}

.pp-score_add {
  @extend %pp-score_button;
  background-color: lighten($c-dark, 30);
}

.pp-score_remove {
  @extend %pp-score_button;
  background-color: lighten($c-dark, 50);
}

// -------------------------------------------------------------------
//     Reset
// -------------------------------------------------------------------

.pp-reset {
  // height: 2em;
  width: 100%;
}

.pp-reset_button {
  @extend %pp-button;
  @include  click-highlight();
  width: 100%;
  height: 100%;

  background-color: $c-dark;
  color: $c-light;
  margin: 0;
  border: 0;
  &:before {
    margin: 0;
  }
}
